<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Oauth2授权平台</title>
    <meta name="description" content="with draggable and editable events"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link href="/static/css/custom.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <script src="/static/js/popper.min.js" type="application/javascript"></script>
    <script src="/static/js/jquery.min.js" type="application/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/static/js/custom.js" type="application/javascript"></script>
    <script src="/static/js/ga.js" type="application/javascript"></script>
</head>

<body>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="../" class="navbar-brand">Oauth2授权平台</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">应用管理 <span
                            class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="download">
                        <a class="dropdown-item" href="/app-add">新增应用</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/app-manage">管理应用</a>

                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">欢迎您,陈林</a>
                </li>
            </ul>

        </div>
    </div>
</div>
<div class="container">
    {{.Content}}
</div>
</body>
</html>